<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <div *ngIf="location != null">
      <ion-title>Averages: {{this.location}}</ion-title>
    </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="home" padding>
    <ion-grid id="days">
      <ion-row>
        <ion-col>
          <!-- Default Segment -->
          <ion-segment scrollable="true" (ionChange)="segmentChanged($event)">
            <ion-segment-button *ngFor="let months of weatherInfoMonths" value="{{months.name}}">
              {{months.name}}
            </ion-segment-button>
          </ion-segment>
          <ion-card>
            <div *ngIf="months != null">
              <ion-item>
                <h3>Average minimum temperature: </h3>
              </ion-item>
              <ion-item>
                <a>{{months.avgMinTemp}} °C ({{months.avgMinTemp_F}}) °F</a>
              </ion-item>
              <ion-item>
                <h3>Maximum temperature: </h3>
              </ion-item>
              <ion-item>
                <a>{{months.absMaxTemp}} °C ({{months.absMaxTemp_F}}) °F</a>
              </ion-item>
              <ion-item>
                <h3>Average daily rainfall: </h3>
              </ion-item>
              <ion-item>
                <a>{{months.avgDailyRainfall}} mm</a>
              </ion-item>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>