.home{
    --ion-background-color: url('src/assets/night.png'); 
    --ion-text-color: #FFF;
    
}
.location{
    text-align: center;
}
a{
    //--ion-font-size: 10px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
}
h3{
    font-size: 18px;
}