<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="settings">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="averages">
    <ion-router-outlet name="averages"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar color="primary" slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/(settings:settings)">
      <ion-icon name="md-cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="averages" href="/tabs/(averages:averages)">
      <ion-icon name="md-analytics"></ion-icon>
      <ion-label>Averages</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
