<ion-app>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home" padding>
    <div class="location">
        <div class="centered">
            <ion-button (click)="ionViewWillEnter()" shape="round" color="primary" class="btn">Update Data</ion-button>
        </div>
    </div>
  <ion-grid id="days">
    <ion-row>
      <ion-col>
        <h2 class="location">{{Weather?Weather.request[0].query:""}}</h2>
        <h4 class="location">{{this.timeInHours}}</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="Weather != null">
      <ion-card *ngFor="let w of Weather.weather" class="container">
        <ion-item>
          <strong>Date: </strong>
          <a>{{w.date}}</a>
        </ion-item>
        <ion-item>
          <strong>Information: </strong>
          <a>{{Weather?w.hourly[this.weatherInfo.time].weatherDesc[0].value:""}}</a>
        </ion-item>
        <ion-item>
          <strong>Degrees: </strong>
          <a>{{Weather?w.hourly[this.weatherInfo.time].tempC:""}} °C ({{Weather?w.hourly[this.weatherInfo.time].tempF:""}} °F)</a>
        </ion-item>
        <ion-item>
          <strong>Humidity: </strong>
          <a>{{Weather?w.hourly[this.weatherInfo.time].humidity:""}} %</a>
        </ion-item>
        <ion-item>
          <strong>Wind: </strong>
          <a>{{Weather?w.hourly[this.weatherInfo.time].windspeedKmph:""}} km/h</a>
        </ion-item>
        <ion-item>
          <strong>Wind-direction: </strong>
          <a>{{Weather?w.hourly[this.weatherInfo.time].winddir16Point:""}}</a>
        </ion-item>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-app>