//.bg-image{ background-image: url('src/assets/bomb.png'); background-repeat: no-repeat; background-position: center; background-size: contain; }
.home{
    --ion-background-color: url('src/assets/night.png'); 
    --ion-text-color: #FFF;
    //--ion-background-color: #1F84D6;
}
.location{
    text-align: center;
}
.container{
    //--ion-background-color: #000;
    opacity: 0.8;
}
