<ion-header color="medium">
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="home">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <form (ngSubmit)="Save()">
            <ion-item>
              <strong>City: </strong>
              <ion-input [(ngModel)]="query" name="query" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <strong>Number of days: </strong>
              <ion-select name="num_of_days" [(ngModel)]="num_of_days">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
              </ion-select>
              <!--<ion-input [(ngModel)]="num_of_days" name="num_of_days" type="text"></ion-input>-->
            </ion-item>
            <ion-item>
              <strong>Time of day: </strong>
              <ion-select name="time" [(ngModel)]="time">
                <ion-select-option value="0">0 AM</ion-select-option>
                <ion-select-option value="1">3 AM</ion-select-option>
                <ion-select-option value="2">6 AM</ion-select-option>
                <ion-select-option value="3">9 AM</ion-select-option>
                <ion-select-option value="4">12 AM</ion-select-option>
                <ion-select-option value="5">3 PM</ion-select-option>
                <ion-select-option value="6">6 PM</ion-select-option>
                <ion-select-option value="7">9 PM</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-button type="submit">Save changes</ion-button>
            </ion-item>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>